@import url(../prestablecidos.css);


.espacioOcupar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.dentroForm{ /* <--- clase referente a los div que contienen a c/u de los inputs y labels del formulario */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:5px;
}

.labelForm{
    color: var(--textoForm)
}

#nameDiv{
    margin-right: 2.5%;
}
#emailDiv{
    margin-left: 2.5%;
}
#mensaje{
    width: 205%;
    color: var(--textoForm);
}

.botonForm{
    align-self: flex-start;
    background-color: var(--verdeOscuro);
    color: var(--blanco);
    border:none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Variaciones que ocurren ante determinadas acciones con el mouse por parte del usuario: */

.botonForm:hover{
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro)
}