@import url(../prestablecidos.css);

.espacioOcupar{
    display: flex;
    justify-content: center;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;

}

.dentroForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.labelForm{
    color: var(--textoForm)
}