@import url(../prestablecidos.css);

.tarjetaIndividual{
    background-color: var(--fondoTarjetas);
    display: flex;
    /* flex-wrap: nowrap; */
    flex:auto;
}

.jj{
    display: flex;
    justify-content:center ;
    background-color: var(--fondoTarjetas);
    
    flex:auto;
}

.parteVisible{
    /* flex: auto; */ /* <--- hace que se centren las demás tarjetas */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 5px;
    padding: 10px;
}

.visible{ /* ya chequeado */
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
    cursor:pointer;
    padding: 10px; 
    border-style: none; /* <-- le quita el borde de color negro */
    border-radius: 10px; /* <-- redondea las esquinas del botón */
    align-self: flex-end; /* <-- lo ubica al botón en el costado dercho de la carta */
}

.nombrePersonaje{ /* ya chequeado */
    color: var(--blanco);
    margin: 0px;
    font-size: 1.8em;
    white-space: nowrap;
}

.tarjetaMasAncha{ 
    white-space: nowrap;
}

.invisibilizar{ /* ya chequeado */ 
    display: none;
}


/* TARJETA INVISIBLE */

.parteInvisible{
    /* width: 100%; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* flex:auto; */
}

.cruz{
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    align-self: flex-end;
}

.renglonInformativo{
    border: solid;
    border-color: black;
    border-width: 0.5px;
    margin: 0px;
    padding: 5px;
}

.pTitulo{
    margin: 0px;
    color: var(--blanco);
    text-align: center;
}

.pInfo{
    color: var(--blanco);
    font-weight: bold;
}

.renglonInformativo:hover{
    cursor: pointer;
    background-color: var(--verdeClaro);
}

