@import url(../prestablecidos.css);


.tarjetaPersonaje{
    display: flex;
    justify-content:center ;
    background-color: var(--fondoTarjetas);
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.tarjetaVisible{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

.btnVisible{
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
    cursor:pointer;
    padding: 10px; 
    border-style: none; /* <-- le quita el borde de color negro */
    border-radius: 10px;
    align-self: flex-end;
}

.nombrePersonaje{
    color: var(--blanco);
    margin: 0px;
    font-size: 1.8em;
}

.invisibilizar{
    display: none;
}


/* TARJETA INVISIBLE: */

.parteInvisible{
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 0px;
}

.btnCruz{
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
}

.infoOculta{
    margin: 0px;
    width: 400px;
    display: block;
}

.textoPresentacion{
    list-style-type: none;
    border: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 0.5px; /* <-- ancho del borde asignado */
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--blanco);
}

.infoPersonaje{
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.3em;
}

/* Modificaciones según comportamiento del mouse */

.textoPresentacion:hover{
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
    cursor: pointer;
}

.textoPresentacion:hover .infoPersonaje{
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
}