@import url(../prestablecidos.css);

*{
    color: var(--verdeClaro)
}

header{
    padding: 25px;
    background-color: var(--verdeOscuro);
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    margin-left: 30px;
}

ul{
    margin-right: 30px;
}