@import url(../prestablecidos.css);


/* .item .item-seleccionado: clases que se relacionan con los botones del nav */
.item{
    list-style-type: none;
    display: inline;
    background-color: var(--verdeOscuro);
    color: var(--verdeClaro);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.item-seleccionado{
    list-style-type: none;
    display: inline;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
}

/* afecta a los botones del <Home/>  [la separación entre ellos] */
.separacionHome{ 
    margin:10px;
    padding: 20px;

}

.link{
    text-decoration: none;
}

/* clases según los diferentes eventos: */

.item:hover{
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
}