@import url(../prestablecidos.css);

.item{
    list-style-type: none;
    display: inline;
    background-color: var(--verdeOscuro);
    color: var(--verdeClaro);
    padding: 10px;
    cursor: pointer;
}

.separacionHome{
    margin:10px;
    padding: 20px;
}

.item:hover{
    background-color: var(--verdeClaro);
    color: var(--verdeOscuro);
}

/* #RyM:hover{
    background-color: var(--verdeOscuro);
    color: var(--verdeClaro);
} */