@import url(../prestablecidos.css);

.filtros{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 50px auto;
    color: var(--verdeClaro);
    
}

.titFiltros{
    color:var(--verdeClaro);
}

.contFiltro{
    display: flex;
    gap:50px;
}

